/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.galleryFilter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1em;

}

.galleryFilter button {
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: transparent;
	color: #1D6154;
	padding: 6px 12px 6px 12px;
	margin: 4px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
}

.galleryFilter button:focus {
	background-color: #1D6154;
	color: white;
}

.gallery img {
	width: 100%;
	height: 490px;
	object-fit: cover;
    border-radius: 4px;
}

.loginJs {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.loginJs h2 {
	margin-bottom: 30px;

}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm label {
	margin-bottom: 4px;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
}

.loginForm input {
	margin-bottom: 30px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	/* box-shadow: black 0px 4px 14px; */
	border: none;
	width: 300px;
	height: 36px;
}


.loginForm button {
	border-radius: 60px;
	color: white;
	background-color: #1D6154;
	font-family: 'Syne';
	width: 160px;
	padding: 8px;
	margin-bottom: 14px;
	border: none;
}

.loginForm a {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #3D3D3D;
}

nav a {
	text-decoration: none;
	color: black;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	/* position: fixed;
	left: 0;
	bottom: 0;
	width: 100%; */
}


/* admin */
.adminBar {
	width: 100%;
	height: 50px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

.adminBar button {
	color: white;
	background-color: transparent;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	/* border: 2px solid white; */
	border: none;
	border-radius: 60px;
	padding: 10px 20px;
	cursor: pointer;
}

.adminBar button:hover {
	background-color: white;
	color: black;
	font-size: 16px;
	font-weight: 400;
}

.adminBar button:active {
	background-color: white;
	color: black;
	font-size: 16px;
	font-weight: 400;
}

#portfolio h2 button {
	background-color: transparent;
	/* border: 2px solid white; */
	border: none;
	border-radius: 60px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Work Sans';
	cursor: pointer;
}

.modal {
	display: none;
	/* masqué par défaut */
	position: fixed;
	/* positionnement fixe */
	z-index: 1;
	/* niveau d'empilement */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* couleur de fond semi-transparente */
}

.modalContent {
	margin: 10% auto;
	padding: 20px;
	max-width: 600px;
	max-height: 80%;
	background-color: #fefefe;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.modalHeader {
	display: flex;
	justify-content: center;
}

.modalHeader h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
}

.modalEditHeader {
	display: flex;
	justify-content: center;
}

.modalEditHeader h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
}

.modalBody {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	overflow-y: auto;
	margin: auto 6%;
	justify-content: center;
}

.modalBody article {
	width: calc(33.33% - 10px);
	margin: 6px;
	text-align: center;
	max-width: 80px;
	position: relative;
}

.modalBody figure {
	margin: 0;
	padding: 0;
}

.modalBody article img {
	height: 104px;
	max-width: 78px;
	object-fit: cover;
}

.modalBody figcaption {
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
}

.modalBody button {
	display: block;

}

.editWorkBtn {
	border: none;
	background-color: transparent;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	padding: 0;
}

.deleteWorkBtn {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	margin-top: 4px;
	margin-right: 4px;
	padding: 2px;
	border-radius: 2px;
	background-color: black;
}

.fa-trash-can {
	color: white;
}

.closeButton {
	font-size: 28px;
	font-weight: bold;
	color: black;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: flex-end;
}

.modalFooter {
	margin: 0px 5% 0px 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #B3B3B3;
}

.modalEditFooter {
	margin: 0px 5% 0px 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #B3B3B3;
}

.addPhotoButton {
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	margin: 10px;
	padding: 10px 30px 10px 30px;
}

.removeGalleryButton {
	background-color: transparent;
	color: #D65353;
	border: none;
	margin: 10px;
	padding: 10px 30px 10px 30px;
}

.validerButton {
	color: white;
	background-color: #A7A7A7;
	border-radius: 60px;
	border: none;
	margin: 10px;
	padding: 10px 30px 10px 30px;
}

.addPhotoForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.addPhotoDiv {
	background-color: #E8F1F7;
    max-width: 264px;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 10px 10px 30px 10px;
}

.addPhotoForm label {
	margin-bottom: 4px;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
}

.addPhotoForm input {
	margin-bottom: 30px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	/* box-shadow: black 0px 4px 14px; */
	border: none;
	width: 300px;
	height: 36px;
	color: #6C6C6C;
}

.addPhotoForm select {
	margin-bottom: 30px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	/* box-shadow: black 0px 4px 14px; */
	border: none;
	width: 300px;
	height: 36px;
	color: #6C6C6C;
	padding: 6px;
}

.addPhotoForm div {
	display: flex;
	flex-direction: column;
}


.addPhotoForm button {
	border-radius: 60px;
	color: white;
	border: none;
	font-size: 14px;
	background-color: #1D6154;
	font-family: 'Syne';
	padding: 8px;
	margin-bottom: 4px;
}

.addPhotoInfo {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
}

.addPhotoDiv i {
	color:#B9C5CC;
	font-size: 54px;
}
.returnButton {
	font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
}
.modalButton {
	display: flex;
	justify-content: space-between;
}